@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.user-card {
  @include row-direction;
  justify-content: space-between;
  width: 40%;
  padding: 30px 10px;
  background-color: lightgrey;
  color: #2a2e35;
}
