@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.game-page-wrapper {
  display: grid;
  grid-template-rows: 1fr 0.3fr 1fr;
  grid-template-columns: 1fr;
  @include align-center-hv;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $background-color;
  position: relative;

  .full-screen-animation {
    position: absolute;
    @include full-row-direction;
    @include align-center-hv;

    img {
      transform: scale(1.5);
      display: none;
      z-index: 1;
    }
  }

  .full-screen-results-wrapper {
    position: absolute;
    @include row-direction;
    align-items: center;
    justify-content: space-between;
    left: 12.5%;
    z-index: 2;
    width: fit-content;
    background-color: $light-grey;
    padding: 50px;
    width: 75%;
    border-radius: 50px;
    z-index: 3;

    .full-screen-results {
      position: relative;
      @include full-column-direction;
      @include align-center-hv;
    }

    .restart-button {
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }

    h1 {
      color: white;
      font-size: 64px;
      margin-bottom: 0;
      padding: 20px 0;
    }

    p {
      color: white;
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  .player-board-wrapper {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 50px;
    background-color: $dark-grey;
    border: 1px solid $light-grey;
  }

  .draw-card-wrapper {
    @include full-row-direction;
    justify-content: space-evenly;
    align-items: center;

    .text-wrapper {
      @include row-direction;
      @include align-center-hv;

      p {
        color: $light-orange;
        font-size: 24px;
        margin-bottom: 0;
        text-align: center;
        margin: 0 20px;
      }
    }

    button.MuiButtonBase-root {
      border-radius: 0;
      width: 12.5%;
      height: 50px;
    }

    button.MuiButton-containedPrimary {
      background-color: $light-purple;
    }

    button.MuiButton-containedSecondary {
      background-color: $light-blue;
    }
  }
}
