@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.outer-border {
  border: 2px solid #de9b72;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 250px;
  min-width: 250px;
  height: 325px;
  margin: 0 20px;
  padding: 6px;

  .mid-border {
    border: 6px solid #de9b72;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 6px;
    background-color: #f0faff;

    .inner-border {
      @include column-direction;
      @include align-center-hv;
      position: relative;
      border: 2px solid #de9b72;
      height: 100%;
      width: 100%;
      margin: auto;

      /* Decorations */
      .corner-decoration {
        position: absolute;
        width: 5em;
        margin: -2px;
      }

      .corner-decoration.corner-left-top {
        left: 0;
        top: 0;
      }

      .corner-decoration.corner-right-top {
        top: 0;
        right: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }

      .corner-decoration.corner-right-bottom {
        right: 0;
        bottom: 0;
        -webkit-transform: scale(-1);
        transform: scale(-1);
      }

      .corner-decoration.corner-left-bottom {
        left: 0;
        bottom: 0;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }

      .game-card {
        @include column-direction;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 12.5px;
        background-color: #f0faff;

        .down-section {
          transform: rotate(180deg);
        }

        .up-section,
        .down-section {
          display: flex;
          flex-direction: column;
          font-size: 36px;
          width: fit-content;
          align-items: center;

          span {
            line-height: 30px;
          }
        }

        .middle-section {
          font-size: 72px;
          align-self: center;

          span {
            line-height: 30px;
          }
        }
      }

      .game-card-hidden {
        @include column-direction;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: #f0faff;

        .horizontally-decoration {
          position: absolute;
          width: 14em;
        }

        .horizontally-decoration-left {
          transform: rotate(90deg);
          margin-right: 30px;
        }

        .horizontally-decoration-right {
          transform: rotate(270deg);
          margin-left: 30px;
        }
      }
    }
  }
}
